.container {
  display: grid;
  grid-template: auto 1fr auto/auto 1fr auto;
  height: 500px;
  width: 500px;
  resize: both;
  overflow: auto;
}

header {
  background: pink;
  grid-column: 1/4;
  padding: 1rem;
}
footer {
  background: palegreen;
  grid-column: 1/4;
  padding: 1rem;
}
.main-content {
  background: plum;
  grid-column: 2/3;
}
.left-sidebar {
  background: peru;
  grid-column: 1/2;
}
.right-sidebar {
  background: darkkhaki;
  grid-column: 3/4;
}
