.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 400px;
  width: 400px;
  resize: both;
  overflow: auto;
}

header {
  background: pink;
  padding: 2rem;
}
main {
  background: burlywood;
}
footer {
  background: plum;
  padding: 2rem;
}
